*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #76453B;
    text-align: center;
   
}

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* vh stands for veiw port height */

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width : 18vmin;
    border-radius: 0.9rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    font-size: 8vmin;
    color: #000000;
    background-color: #B19470;
}

#reset-btn{
    padding: 0.7rem;
    font-size: 1.1rem;
    background-color: #191913;
    color:  #F8FAE5;;
    border-radius: 1rem;
    border: none;

}

#newgame-button{
    padding: 0.7rem;
    font-size: 1.1rem;
    background-color: #191913;
    color: #F8FAE5;;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #F8FAE5;
    font-size: 8vmin;

}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-direction: column;
}

.hide{
    display: none;
}